<section class="about-show">
  <div class="jumbotron">
    <h1>About#show</h1>
    <h2>Jungle inc.</h2>

    <p>JUNGLE is the number one e-commerce store for unusual items.</p>
    <p>No one can beat our eclecticity!</p>
  </div>
</section>